@import "../css/vars.css";

main ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
main ul li {
  list-style: none;
  /* color: #1868c6; */
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
}

main ul li span {
  margin-left: 10px;
}

main .col-iz {
  width: 30%;
  display: flex;
}

body.dark-theme main ul li {
  --text-color: #96ef96;
}
