
main .col-de {
  width: 70%;
}
main .col-de .card-secret {
  /* background: rgba(21, 78, 126, 0.582); */
  background: #0654ca88;
  box-shadow: 0 3px 6px 0 rgba(14, 15, 32, 0.37);
  padding: 20px;
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
  color: #fefefe;
}

main .col-de .card-secret img {
  width: 41px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

main .col-de .card-secret .name {
  font-weight: 700;
  margin-right: 10px;
}

.card-secret-input {
  background: #0654ca88;
  box-shadow: 0 3px 6px 0 rgba(14, 15, 32, 0.37);
  width: 640px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fefefe;
}

.input-secret .secret-box {
  background-color: #0654ca52;
  padding: 17px 8px;
}

.input-secret input {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 17px 8px;
  width: 80%;
}

.input-secret input::placeholder {
  color: rgba(255, 255, 255, 0.753);
}

.form-secreto{
  width: 80%;
}