@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import "./components/css/vars.css";

body {
  background-color: #fefefe;
  background-image: radial-gradient(#cdd0ff 1px, transparent 0),
    radial-gradient(#cdd0ff 1px, var(--bg-color) 0);
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
  color: #000;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
}

body.dark-theme {
  background-color: var(--bg-color);
  background-image: radial-gradient(var(--bg-primary-color) 1px, transparent 0),
    radial-gradient(var(--bg-second-color) 1px, var(--bg-color) 0);
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
  color: #000;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

body {
  --bg-color: #fefefe;
  --bg-primary-color: #cdd0ff;
  --bg-second-color: #cdd0ff;
}

body.dark-theme {
  --bg-color: #15151d;
  --bg-primary-color: #3a3c50;
  --bg-second-color: #333558;
}
