body {
  background-color: #fefefe;
  background-image: radial-gradient(#cdd0ff 1px, transparent 0),
    radial-gradient(#cdd0ff 1px, #fefefe 0);
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
  color: #000;
  font-size: 14px;
  font-family: sans-serif;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
}
